<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="xxivips, spécialiste de la création vidéo et de la projection sur monuments.">
  <meta name="keywords" content="projection, aovisuel, numérique, projection mapping, vj, interactivité, spectacle">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="alternate" href="/en" hreflang="en" />
  <link rel="alternate" href="/fr" hreflang="fr" />

  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#000000">

  <title>{{ lang.title }}</title>
</head>
<body data-spy="scroll" data-target="#main-navbar" data-offset="0">
  {% include 'twig/nav.html.twig' with lang.nav only %}

  <section id="headline">
    <div class="container">
      <div>
        <h2>
          <div>{{ lang.headline.1 }}</div>
          <div>{{ lang.headline.2|raw }}</div>
          <div>{{ lang.headline.3 }}</div>
          <div>{{ lang.headline.4 }}</div>
        </h2>
      </div>
    </div>
  </section>

  <section id="{{ lang.nav.exhibits.id }}">
    <div class="container">
      <a href="{{ lang.section.exhibits.url }}" class="section-title">
        <h2>{{ lang.section.exhibits.title }}</h2>
        <div class="section-caption">{{ lang.section.exhibits.caption }}</div>
      </a>
    </div>
  </section>

  <section id="{{ lang.nav.videos.id }}">
    <div class="container">
      <a href="{{ lang.section.videos.url }}" class="section-title">
        <h2>{{ lang.section.videos.title }}</h2>
        <div class="section-caption">{{ lang.section.videos.caption }}</div>
      </a>
    </div>
  </section>

  <section id="{{ lang.nav.about.id }}">
    <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 column">
        <div id="contact-container">
          <div>
            <p>
              <span data-after=" {{ site.lastname }}">Julien</span>
              <br />{{ site.address.city }}, {{ site.address.country }}
            </p>
            <p data-before="{{ site.address.phone_country }}">{{ site.address.phone_number}}</p>
            <p>contact<span data-before="@">xxivips.com</span></p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 column">
        {% for link in site.bottom_links %}
            <p><a href="{{ link.url }}">{{ link.label }}</a></p>
        {% endfor %}
      </div>
    </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
