<nav class="navbar fixed-top navbar-expand-lg navbar-dark" id="main-navbar">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/xxivips-logo-inverted.png" /> xxivips
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#{{ exhibits.id }}">{{ exhibits.label }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#{{ videos.id }}">{{ videos.label }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#{{ about.id }}">{{ about.label }}</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ lang.current }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for lang in lang.available %}
            <a class="dropdown-item" href="/{{ lang }}">{{ lang }}</a>
          {% endfor %}
        </div>
      </li>
    </ul>
  </div>
</nav>
